*{                       
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
} 
@font-face {
    font-family: slackey;
    src: url(Fonts/Slackey-Regular.ttf);
    font-style: normal;
    font-weight: 100;
} 
@font-face {
    font-family: SuperFriday;
    src: url(fonts/Super\ Friday\ Personal\ Use.ttf);
    font-style: normal;
    font-weight: 100;
} 
:root {
    --blue: rgb(97, 56, 136);
    --black:#111;
    --white:#fff;
    --light-color:#aaa;
    --bg-color: #222;
    --black-bg: rgba(17, 17, 17, 0.7);
    --border: 0.2rem solid rgb(97, 56, 136);
} 
body {
    background-image: url(images/BG1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
.wrapper-main {
    width: 100%;  
    margin: 0 auto;
} 

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #b38b6d, #7b403b);
    font-size: 20px;
    border-radius: 30px;
    transition: 0.3s;
    z-index: 300;
}

.btn:hover{
    box-shadow: 0 0 0.5rem var(--black);
    color: var(--blue);
    font-weight: bold;
    border: 0.1rem solid rgba(97, 56, 136);
}

.buybtn {
    position: relative;
    padding-left: 85%;
    padding-right: 20px;
    z-index: 500;
}

.btn1{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #b38b6d, #7b403b);
    font-size: 20px;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.397);
    z-index: 500;
}

.btn1:hover{
    box-shadow: 8px 10px 2px rgba(0, 0, 0, 0.397);
    color: var(--blue);
    font-weight: bold;
    border: 0.1rem solid rgba(97, 56, 136);
    cursor: pointer;
}

/********************* LANDING PAGE ******************/
section.sec2 {
    padding: 2rem;   
}
.popey {
    width: 100%;
    height: 180vh;  
    background-image: url(images/LB.png);
    background-position: center;
    background-size: cover;
    padding: 0;    
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: .2rem solid rgba(66, 12, 12, 0.945);
}
.popey h5 {
    font-family: slackey;
    font-size: 105px;
    margin-bottom: 0;  
    padding-top: 2rem; 
    text-align: center;
    color: rgb(97, 56, 136);    
    text-shadow: 6px 8px 2px rgba(0, 0, 0, 0.397);
    -webkit-text-stroke: 0.5px rgb(7, 7, 7);
}
.floater .imgMain {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 15%;
    z-index: 200;
}
.floater img {
    width: 35rem;
}
.floater {  
    animation: floatImage 4s ease-in-out infinite;
}  
.floater img:hover {
    animation: shake 0.15s linear infinite;
    cursor: pointer;
} 
@keyframes floatImage {
    0% {
        transform: translateY(0) ;
       }
    50% {
        transform: translateY(-2.4rem) ;
        }    
    100% {
         transform: translateY(0) ;
         }
}  
@keyframes shake {
    0% { transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
}

/****************** LANDING FLYERS *********************/
section .flying {
    position: relative;
    z-index: 50;
    left: -100px;
    top: -860px; 
}
#S1 {
    display: flex;
    padding-left: 150px; 
    animation-name: slideUp;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
#S2 { 
    position: relative;  
    left: 500px;
    top: 250;
    animation-name: rotate1;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;  
}
#S3 {    
    position: relative;
    left: 950px;
    top: 20px;
    animation-name: slideRight;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}   
#S4 {   
    position: relative;
    left: 1300px;
    top: 150px;
    animation-name: slideUp;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}     
@keyframes slideRight {
    to{transform: translateX(5%)}
}
@keyframes slideRight1 {
    to{transform: translateX(55%)}
}
@keyframes slideUp {
    from {transform: translateY(25%)}
}
@keyframes slideUp1 {
    from {transform: translateY(3%)}
}
@keyframes slideUp2 {
    from {transform: translateY(15%)}
}
@keyframes rotate1 {
    50% {transform: rotateZ(13deg)}
}
/******************** LANDING TAGS *********************/
.cotags {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
    transition: .5s;
    margin-bottom: -10px;
}
.cotags ul {
    display: flex;
    position: absolute;
    bottom: 200px;
}
.cotags ul li {
    width: 200px;
    height: 200px;
    list-style-type: none;
}
.cotags ul li img {       
    max-width: 140px;
    transition: .3s; 
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(15, 15, 15, 0.479);
}
.save h4 {
    font-family: slackey;
    font-size: 2.6rem;
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.411);
}

/********************** DREAMING ************************/
section.sec3 {
    padding: 2rem;   
}
.sleepy {
    width: 100%;
    height: 150vh;  
    background: rgba(0, 0, 0, 0.452) url(images/LB2.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    padding: 0;    
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: .2rem solid rgba(66, 12, 12, 0.945);
}
.sleepy h5 {
    font-family: slackey;
    font-size: 105px;
    margin-bottom: 0;  
    padding-top: 2rem; 
    text-align: center;
    color: rgb(168, 113, 219);    
    text-shadow: 6px 8px 2px rgba(0, 0, 0, 0.548);
    -webkit-text-stroke: 0.5px rgb(7, 7, 7);
}
section .dream {
    position: relative;
    z-index: 50;
    left: 5%;
    top: 20%; 
}
section .dream img {
    width: 750px;
}
#S5 {
    display: flex;
    padding-left: 250px; 
    animation-name: slideUp1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;  
}
section .flying1 {
    position: relative;
    z-index: 50;
    left: -20%;
    top: -460px; 
}
section .flying1 img {
    width: 500px;
}
#S6 { 
    position: relative;  
    left: 600px;
    top: -350px;
    animation-name: slideUp;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;  
}
#S7 {    
    position: relative;
    left: 1150px;
    top: -600px;
    animation-name: slideRight;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}   
#S8 {   
    position: relative;
    left: 250px;
    top: -550px;
    animation-name: slideRight;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
} 
#S9 {   
    position: relative;
    left: 1400px;
    top: -1000px;
    animation-name: slideUp2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
} 

/***************** LUMPY at Work ***************************/
section.sec5 {
    padding: 2rem;
}
.work {
    width: 100%;
    height: 120vh;
    background: rgba(0, 0, 0, 0.452) url(images/LB3.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: .2rem solid rgba(66, 12, 12, 0.945);
}
.work h5 {
    font-family: slackey;
    font-size: 105px;
    margin-bottom: 0;
    padding-top: 2rem;
    text-align: center;
    color: rgb(168, 113, 219);
    text-shadow: 6px 8px 2px rgba(0, 0, 0, 0.548);
    -webkit-text-stroke: 0.5px rgba(7, 7, 7);
}
.services-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-left: 25%;
    transition: .5s ease;
}
.services-box video {
    height: 750px;
    width: 870px;
    border-radius: 10px;
}
.services-box video:hover:
    cursor: pointer;
}
/********************* LUMPANOMICS *************************/
section.sec4 {
    padding: 2rem;   
}
.review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 40px;  
    h5 {
        font-family: slackey; 
        font-size: 105px;
        padding-left: 20%;
        text-align: center;
        color: rgb(97, 56, 136);    
        text-shadow: 6px 8px 2px rgba(0, 0, 0, 0.397);
        -webkit-text-stroke: 0.5px rgb(7, 7, 7);
    }
    .content {
        flex: 1 1 42rem;  
        span {
            font-size: 2rem;
            color: var(--blue);
        }
        h3 {
            font-family: slackey;
            font-size: 3rem;
            color: var(--blue);
            text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.397);
        }
        p {
            font-size: 1.4rem;
            color: var(--blue);
            padding: 1rem 0;
            line-height: 2;
        }
    }
    .box-container {
        flex: 1 1 42rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      

        .box {
            flex: 1 1 20rem;
            border-radius: 1rem;
            background: var(--bg-color);
            border: 0.4rem solid var(--black); 
            transition: .3s; 
             

            &:hover {
                border: var(--border);
            }

            .user {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    height: 100%;
                    width: 100%; 
                    border-radius: 5%;
                }
            }
        }
    }
}
/****************** LUMPANOMICS Flying**********************/
section.sec4 .flying2 {
    position: relative;
    z-index: 50;
    left: -70%;
    top: -180px; 
}
section .flying2 img {
    width: 150px;
}
#S10 { 
    position: relative;  
    animation-name: slideRight1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;  
}
#S11 {    
    position: relative;
    left: 980px;
    top: 340px;  
    animation-name: slideUp;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}   
section.footer {
    padding: 2rem;   
}
.foot {
    width: 100%;
    height: 15vh;  
    background-image: url(images/footer.png);
    background-position: center;
    background-size: cover;
    padding: 0;    
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: .2rem solid rgba(66, 12, 12, 0.945);
}
.foot .ft-text p {
    font-size: 1.6rem;
    position: absolute;
    bottom: 80px;  
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.411);
}
.foot .fin p {
    font-size: .9rem;
    position: absolute;
    bottom: 30px;
    padding-left: 20px;
    font-style: italic;
    color: rgba(70, 5, 131, 0.377);
}
/************************ Media ****************************/
@media all and (max-width: 1440px) {
.buybtn {
    padding-left: 75%;
}
.work h5 {
    font-size: 90px;
}
.services-box {
    padding-top: 5%;
    padding-left: 20%;
}
.services-box video {
    height: 600px;
    width: 800px;
}    
section .flying1 img {
    width: 470px;
}
#S7 {    
    left: 1050px;
    top: -550px;
}
#S9 {   
    left: 1300px;
}

section.sec4 {
    padding: 2rem;     
} 
.review {
    padding-left: 35px;  
    h5 {
        font-size: 95px;
        padding-left: 15%;
        }
    .content {
        flex: 1 1 42rem;  
        h3 {
            font-size: 3rm;
        }
        p {
            padding: 1rem 2rem;
        }
    }
    .box-container {
        flex: 1 1 32rem;
        .box {
            flex: 1 1 15rem;
            }
        }
    }
                     
section.sec4 .flying2 {
    left: 300px;
    top: -700px; 
}  
#S11 {    
    position: relative;
    left: 200px;
    top: 340px;  
}
}    
@media all and (max-width: 1314px) {
#S9 {   
    left: 1150px;
}
section.sec4 .flying2 {
    left: -300px;
    top: -500px; 
} 
}
@media all and (max-width: 1312px) {
section.sec4 .flying2 {
    left: -500px;
    top: -500px; 
} 
}
@media all and (max-width: 1221px) {
.popey h5 {
    font-size: 95px;
}  
.sleepy h5 {
    font-size: 90px;
}   
section .dream img {
    width: 650px;
}
#S5 {
    padding-left: 200px; 
}    
#S6 {  
    left: 500px;
    top: -150px; 
}
#S7 {    
    left: 850px;
    top: -400px;
}   
#S8 {   
    left: 250px;
    top: -350px;
} 
#S9 {   
    left: 1050px;
    top: -700px;
}
.work h5 {
    font-size: 70px;
}
section .flying1 img {
    width: 390px;
}
.review {
    padding-left: 20px;  
    h5 { 
        font-size: 90px;
        padding-left: 10%;
}
section.sec4 .flying2 {
    left: -10%;
    top: -180px; 
}
#S11 {    
    left: 0px; 
}
.foot .ft-text p {
    bottom: 75px;
}
}
@media all and (max-width: 1111px) {
.popey h5 {
    font-size: 87px;
} 
#S9 {   
    left: 950px;
} 
.services-box {
    padding-left: 15%;
}
}
@media all and (max-width: 1024px) {
.popey h5 {
    font-size: 80px;
    margin-bottom: 0rem;  
    padding-top: 2rem; 
}
.buybtn {
    padding-left: 60%;
    padding-right: 20px;
}    
.floater .imgMain {
    padding-top: 20%;
}
.floater img {
    width: 30rem;
}
section .flying {
    position: relative;
    z-index: 50;
    top: -800px;  
    left: -150px; 
}
#S1 {
    padding-left: 150px; 
}
#S2 {   
    left: 350px;
    top: 100px;    
}
#S3 {    
    left: 760px;  
    top: 20px;
}   
#S4 {   
    left: 1000px;  
    top: 150px;
}
.cotags ul {
    bottom: 150px;
}
.cotags ul li img {        
    max-width: 100px;
}
.sleepy {
    height: 100vh;  
}
.sleepy h5 {
    font-size: 80px;    
}
section .dream {
    left: 10%;
    top: 10%; 
}
section .dream img {
    width: 400px;
}
#S5 {
    padding-left: 100px; 
}
section .flying1 {
    left: -35%;
    top: -150px; 
}
section .flying1 img {
    width: 300px;
}
#S6 {
    left: 550px;
    top: -350px;

#S7 {    
    left: 850px;
    top: -300px;
}   
#S8 {   
    left: 550px;
    top: -750px;
}    
#S9 {   
    left: 1000px;
    top: -660px;
} 
.work h5 {
    font-size: 45px;
}
.services-box {
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 25%;
}
.services-box video {
    height: 450px;
    width: 650px;
}    

.review {  
    h5 {
        font-size: 80px; 
        padding-left: 10%;  
    }
    .content { 
        span {
            font-size: 1.5rem;  
        }
        h3 {
            font-size: 3rem;
        }
        p {
            font-size: 1.2rem;  
            line-height: 1.5;
        }
    }
}
section.sec4 .flying2 {
    left: -20%;
    top: -630px; 
}
section .flying2 img {
    width: 120px;
}
#S11 { 
    position: absolute;
    left: -500px;
    top: 520px;  
}      
.foot .ft-text p {
    font-size: 1.6rem;
    position: absolute;
    bottom: 65px;  
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.411);
}
.foot .fin p {
    font-size: .8rem;  
    position: absolute;
    bottom: 5px;  
    padding-left: 20px;
    color: rgba(70, 5, 131, 0.534);
}
}
@media all and (max-width: 956px) {
.popey h5 {
    font-size: 75px;
}
.save h4 {
    font-size: 2rem;
} 
.services-box {  
    padding-left: 5%;
    padding-right: 15%;
}
.review {  
    h5 {
        font-size: 75px; 
        padding-left: 5%;  
    }  
} 
@media all and (max-width: 870px) {
.cotags ul li {
    width: 170px;
    height: 170px;
}
#S6 {
    left: 400px;
    top: -350px;
}
#S7 {    
    left: 700px;
    top: -450px;
}   
#S8 {   
    left: 250px;
    top: -500px;
} 
#S9 {   
    left: 850px;
    top: -750px;
} 
.services-box {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 7%;
}
    
.services-box video {
    height: 400px;
    width: 575px;
} 
 section .flying2 img {
    width: 130px;
}   
 .foot .fin p {
    bottom: 2px;  
}   
}
@media all and (max-width: 800px) {
#S9 {   
    left: 750px;
    top: -750px;
} 
}
@media all and (max-width: 768px) {
.popey h5 {
    font-size: 70px;
}
.floater .imgMain {
    padding-top: 30%;
}
#S1 {
    padding-left: 150px; 
}
#S2 { 
    left: 250px; 
    top: 100px;  
    animation-duration: 20s;    
}
#S3 {    
    left: 660px;  
    top: 50px;
    animation-duration: 10s;
}   
#S4 {   
    left: 800px;  
    top: 300px;   
}
.cotags {
    padding: 0 200px;  
}
.cotags ul {
    display: flex;
    position: absolute;
    bottom: 200px;
}
.cotags ul li {
    width: 150px;   
    height: 150px;    
    list-style-type: none;
}
.save h4 {
    font-size: 1.6rem;
}
    
.sleepy {
    height: 100vh;  
}
.sleepy h5 {
    font-size: 65px;    
} 
section .dream {
    top: 17%; 
}
section .dream img {
    width: 400px;
}
section .flying1 {
    left: -70%;
    top: -70px; 
}
section .flying1 img {
    width: 250px;
}
#S6 {
    left: 600px;
    top: -350px;
}   
#S7 {    
    left: 850px;
    top: -450px;
}   
#S8 {  
    left: 450px;
    top: -450px;
} 
#S9 {   
    left: 950px;
    top: -680px;
} 
.work {
    height: 100vh;
}
.services-box {
    padding-top: 10%;
}
.services-box video {
    height: 350px;
    width: 500px;
} 
section.sec4 {
    padding: 2rem; 
    height: 140vh;   
}
.review {  
    h5 {
        font-size: 65px; 
        padding-left: 0;  
    }
}
section.sec4 .flying2 {
    left: -10%;
    top: -550px; 
}
#S11 {  
     position: relative;
    left: 0px;
    top: 480px;  
}     
.foot {
    padding-top:130px;
    margin-top: 150px;
}
    
.foot .fin p {
    font-size: .7rem;  
    position: absolute;
    bottom: 20px;  
    padding-left: 20px;
    color: rgba(70, 5, 131, 0.534);
}
}
@media all and (max-width: 747px) {
#S8 {   
    position: relative;
    left: 450px;
}
.work {
    height: 100vh;
}   
.services-box {
    padding-top: 15%;
}  
.review {  
    h5 {
        font-size: 65px;  
}}
section.sec4 .flying2 {
    left: -10%;
    top: -950px; 
}
.foot {
    position: relative;

}
}
@media all and (max-width: 700px) {
.sleepy h5 {
    font-size: 61px;    
} 
section .dream img {
    width: 350px;
}
section .flying1 {
    left: -80%;
    top: -30px; 
}    
} 
@media all and (max-width: 660px) {
.cotags ul li {
    width: 120px;   
    height: 120px;    
}
section .dream img {
    width: 320px;
}
section .flying1 img {
    width: 210px;
} 
section .flying1 {
    left: -80%;
    top: 35px; 
} 
#S9 {   
    left: 850px;
    top: -500px;
}     
.review {  
    h5 {
        font-size: 50px; 
        padding-left: 0;  
    }
}

}
    
@media all and (max-width: 425px) {
section.sec2 {
    padding: 1rem;   
}
.popey {
    height: 120vh;    
    border-radius: 15px;
    border: .1rem solid rgba(66, 12, 12, 0.945);
}  
.popey h5 {
    font-size: 60px; 
    margin-bottom: 1rem;  
    padding-top: .5rem; 
    line-height: 70px;
}
.buybtn {
    padding-left: 50%;
    padding-right: 10px;
}
.btn1{
    padding: 10px 30px;
    font-size: 15px;
}
.floater .imgMain {
    padding-top: 25%;  
}
.floater img {
    width: 20rem;  
}
section .flying img {
    width: 90px;   
}   
#S1 {
    padding-left: 150px; 
}
#S2 {  
    left: 150px; 
    top: 300px;  
    animation-duration: 15s;    
}
#S3 {    
    left: 450px;  
    top: 280px;
    animation-duration: 6s;
}   
#S4 {  
    display: none; 
}
.cotags ul li {
    width: 90px;   
    height: 90px;    
}
.cotags ul {
    bottom: 160px;  
} 
.cotags ul li img {      
    max-width: 80px;
    border-radius: 10px;  
    box-shadow: 6px 6px 6px rgba(15, 15, 15, 0.479);   
} 
section.sec3 {
    padding: 1rem;   
}
.save h4 {
    font-size: 1rem;
}    
.sleepy {
    height: 90vh;  
    border: .1rem solid rgba(66, 12, 12, 0.945);  
}
.sleepy h5 {
    font-size: 60px;    
}   
section .dream {
    left: -20%; 
    top: 15%;    
}
section .dream img {
    width: 300px;
}
section .flying1 {
    left: -150%;
    top: 60px; 
}
section .flying1 img {
    width: 180px;
}
#S7 {    
    left: 750px;
    top: -430px;
}   
#S8 {   
    left: 520px; 
    top: -450px;
} 
#S9 {   
    left: 850px;
    top: -600px;
} 
section.sec5 {
    padding: 1rem;
}
.work {
    height: 80vh; 
}
.work h5 {
    font-size: 50px;
}
.services-box {
    padding-top: 10%;
    padding-left: 0%;
    padding-right: 5%;
}
.services-box video {
    height: 300px;
    width: 400px;
}     
section.sec4 {
    padding: 0; 
    height: 230vh;   
}
.review { 
    h5 {
        font-size: 45px;    
        text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.397);
        padding-top: 5%;
    }       
    .content {
        h3 {
            font-size: 2rem;
            text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.397);  
        }
        p {
            font-size: 1rem;  
            line-height: 1.4;
        }
    }  
    .box-container { 
        flex: 1 1 42rem;   
        padding-right: 20px;               
    }  
}
section.sec4 .flying2 {
    left: 60%;
    top: -1300px; 
}
#S11 {    
    left: 30px;
    top: 980px;  
} 
.foot {
    margin-top: 250px;
}
.foot .ft-text p {
    font-size: 0.9rem;
    bottom: 90px;  
    color: rgba(0, 0, 0, 0.815); 
}  
.foot .fin p {
    font-size: .7rem;  
    position: absolute;   
    bottom: 10px;  
}   
}
@media all and (max-width: 375px) {
.popey {
    height: 110vh;   
} 
.popey h5 {
    font-size: 50px;  
    line-height: 60px;
    text-shadow: 3px 4px 1px rgba(0, 0, 0, 0.397);
    -webkit-text-stroke: 1.5px rgb(7, 7, 7);  
}
.cotags {
    padding: 0; 
}
    .cotags ul li {
    width: 70px;   
    height: 70px;    
}    
.cotags ul {
    bottom: 160px;  
}     
.cotags ul li img {      
    max-width: 60px;
    border-radius: 10px;  
    box-shadow: 6px 6px 6px rgba(15, 15, 15, 0.479);   
}  
.sleepy {
    height: 80vh;  
}  
.sleepy h5 {
    font-size: 55px;    
    line-height: 1;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.397);
}  
section .dream {
    left: -20%; 
    top: 18%;    
}
section .dream img {
    width: 250px;
}
section .flying1 {
    left: -170%;
    top: 120px; 
}
section .flying1 img {
    width: 160px;
}
#S7 {    
    left: 750px;
    top: -430px;
}   
#S8 {   
    left: 520px; 
    top: -420px;
} 
#S9 {   
    left: 800px;
    top: -580px;
} 
.work {
    height: 65vh; 
}
.work h5 {
    font-size: 40px;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.397);
}
.services-box {
    padding-top: 15%;
    padding-right: 10%;
}
.services-box video {
    height: 230px;
    width: 300px;
}
section.sec4 {
    padding: 0; 
    height: 200vh;   
}
.review {  
    h5 {
        font-size: 37px;    
        text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.397);
    }       
    .content {
        span {
            font-size: 1.2rem;  
        }  
        h3 {
            font-size: 1.7rem;
        }
        p {
            font-size: 0.8rem;  
            line-height: 1.5;
        }
    }  
    .box-container { 
        .box {
            border: 0.3rem solid var(--black); 
        }  
    }
}
section.sec4 .flying2 {
    left: 60%;
    top: -1150px; 
}
section .flying2 img {
    width: 100px;
}
#S11 {    
    left: 30px;
    top: 870px;  
}         
.foot .ft-text p {
    font-size: 0.8rem;
    bottom: 80px;  
    color: rgba(0, 0, 0, 0.815); 
}  
.foot .fin p {
    font-size: .6rem;  
    position: absolute;   
    bottom: 10px;  
}
}
@media all and (max-width: 320px) {
.popey {
    height: 100vh;    
} 
.popey h5 {
     font-size: 40px; 
    line-height: 50px;
}
.buybtn {
    padding-left: 40%;
}    
.floater .imgMain {
    padding-top: 30%;  
}
.floater img {
    width: 17rem;  
}
section .flying img {
    width: 70px;   
}      
#S2 {  
    left: 150px; 
    top: 370px;  
    animation-duration: 10s;    
}
#S3 {    
    left: 380px;  
    top: 370px;
    animation-duration: 4s;
}   
.cotags ul {
    bottom: 140px;  
}
.sleepy {
    height: 70vh;  
}  
.sleepy h5 {   
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.397);
} 
section .dream {
    left: -24%; 
    top: 22%;    
}
section .dream img {
    width: 220px;
}  
section .flying1 {
    left: -200%;
    top: 170px; 
}
section .flying1 img {
    width: 140px;
}
#S7 {     
    left: 730px;
}     
#S9 {   
    left: 770px;
    top: -560px;
} 
section.sec4 {
    height: 175vh;   
}
.review {
    h5 {
        font-size: 35px; 
    }      
    .content {
        span {
        font-size: 1.2rem;  
    }  
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.8rem;  
        line-height: 1.4;
        padding-right: 5px; 
    }
    }
}
section.sec4 .flying2 {
    left: 60%;
    top: -950px; 
}
section .flying2 img {
    width: 80px;
}
#S11 {    
    left: 30px;
    top: 700px;  
}          
.foot .ft-text p {
    font-size: 0.6rem;
    bottom: 85px;  
    color: rgba(0, 0, 0, 0.959); 
}  
.foot .fin p {
    font-size: .6rem;  
    position: absolute;   
    bottom: 10px;  
}
}





